.navClasseInicio {
    position: absolute;
    width: 96%;
    left: 65px;
    height: 6rem;
    background-color: #f2f2f2 !important;
}

.navColor {
    background-color: #165C7D !important;
    width: 64px !important;
}

.alinhamentoMenu {
    display: flex !important;
    align-items: center !important;
    position: relative;
    top: 3%;
}

@media (max-width: 768px) {
    .alinhamentoMenu {
        top: 10px;
    }

    @media (min-width: 1199px) {
        .alinhamentoMenu {
            top: 1%;
        }
    }
}

.alinhamento {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 68vw;
}

@media (min-width: 1239px) {
    .alinhamento {
        position: relative;
        display: flex;
        right: 68vw;
    }
}

.titulo {
    font-weight: bold;
    font-size: 24px;
}

.sgv {
    position: relative;
    left: 75%;
    color: #125D79;
    bottom: 8px;
}

@media (max-width: 900px) {
    .sgv {
        position: relative;
        left: 78%;
        color: #125D79;
        bottom: -23px;
    }
}

.destacado {
    color: #125D79;
    background-color: white;
    border: 2px solid #125D79;
    box-shadow: 0 0 2px #125d79;
    position: absolute;
    left: 80%;
    top: 25%;
    border-radius: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}


////////

@media (max-width: 600px) {
    .navColor {
        background-color: #165C7D;
    }
}

@media (max-width: 900px) {
    .alinhamento {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        right: 24vw;
        top: -1vw;
    }

    .destacado {
        color: #125D79;
        background-color: white;
        border: 2px solid #125D79;
        box-shadow: 0 0 2px #125d79;
        position: absolute;
        left: 62%;
        top: 25%;
        border-radius: 13px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

@media (max-width: 600px) {
    .alinhamento {
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .titulo {
        font-weight: normal;
    }
}

@media (min-width: 900px) and (max-width: 1199px) {
    .navClasseInicio {
        position: absolute;
        width: 105%;
        left: 64px;
        height: 8rem;
        background-color: #f2f2f2 !important;
    }

    .navColor {
        background-color: #165C7D !important;
        width: 91px;
    }

    .titulo {
        font-weight: bold;
    }
}