.bg-light-blue {
    background-color: #FFFFFF;
    width: 90%;
    height: 90%;
}

.alinhamento {
    width: 40%;
    position: relative;
    left: 16%;
    top: -60%;
}

.cpf {
    font-weight: bold;
}

.botao {
    position: relative;
    left: 8%;
    background-color: #165C7D;
    width: 60%;
    border-radius: 3px;
}

@media (max-width: 709px) {
    .botao {
        width: 64% !important;
    }
}

.inputRadius {
    border-radius: 3px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 38%;
    bottom: 12rem;
    padding: 20px;
}

.line {
    width: 50%;
    border: none;
    height: 1px;
    background-color: #000;
}

.circle {
    width: 30px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #165C7D;
    background-color: transparent;
}

.circle:first-child {
    border-color: #165C7D;
}

.circle.second {
    border-color: #C6CED1;
    background-color: #C6CED1 !important;
}

.circle:nth-last-child(3),
.circle:nth-last-child(1) {
    background-color: #C6CED1;
}

.linha-frases {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 13rem;
    left: 40%;
    font-family: Open sans-serif;
    color: #889499;
}

.informe {
    position: relative;
    bottom: 14vw;
    flex-direction: column;
    width: 140%;
    right: 9rem;
    padding: 40px;

}

@media (max-width: 1050px) {
    .informe {
        position: relative;
        position: relative;
        bottom: 13vw;
        left: 0%;
    }

}

@media (max-width: 768px) {
    .informe {
        position: relative;
        bottom: 19vw;
    }
}

.cpfInforme {
    position: relative;
    bottom: 15rem;
    width: 100%;
    right: 17%;
}

@media (max-width: 1050px) {
    .cpfInforme {
        position: relative;
        left: 1%;
    }

}

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
    width: 300%;
    height: 6rem;
    position: relative;
    right: 30%;
    /* top: 59vw; */
    bottom: 1vw;
    /* padding: 5px; */
}

@media (max-width: 1200px)  {
    .footer {
        position: relative;
        display: flex;
        right: 11vw;
        bottom: 3vw;
    }
}

@media (max-width: 900px)  {
    .footer {
    position: relative;
    display: flex;
    right: 9vw;
    bottom: 8vw;
    }
}

@media (max-width: 650px)  {
    .footer {
        position: relative;
        display: flex;
        right: 17%;
        bottom: 22vw;
    }
}




.is-invalid {
    border-color: red;
  }

  .buttonFooter {
    border: 2px solid #165C7D;
    color: #165C7D;
    margin-left: 2%;
    font-weight: 500;
    border-radius: 3px;
    margin-bottom: 1%;
  }


  @media (max-width: 800px) {
    .inputCpf {
   // left: 12vw !important;
   // top: 8vw !important;
    position: relative !important;
    }
}

////////////////////////////////
@media (max-width: 600px) {
    .line {
        width: 80%;
    }
}

@media (max-width: 400px) {
    .line {
        width: 60%;
    }

    .circle {
        width: 8px;
        height: 8px;
        margin-right: 5px;
    }
}

@media (max-width: 600px) {
    .bg-light-blue {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 600px) {
    .alinhamento {
        width: 100%;
        left: 0;
        top: 0;
    }
}


@media (max-width: 600px) {
    .container {
        position: relative;
        left: 0%;
        bottom: 0;
    }
}

@media (max-width: 600px) {
    .linha-frases {
        width: 100%;
        left: 0%;
    }
}

@media (max-width: 600px) {
    .informe {
        position: relative;
        bottom: 0;
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .cpfInforme {
        position: relative;
        bottom: 0;
    }
}

@media (max-width: 600px) {
    .cpf {
        font-weight: normal;
    }
}

@media (max-width: 600px) {
    .inputRadius {
        border-radius: 0px;
    }
}

@media (max-width: 600px) {
    .line {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .circle {
        width: 15px;
        height: 10px;
        border-radius: 25%;
        border: 1px solid #165C7D;
    }
}